.logsForm input,
.logsForm option {
  text-align: left !important;
}
.logsTd{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.logsTd:hover {
  color: green;
}
.deleteLogBtn{
  border: 1px #ef8157 solid;
  float: right;
  margin: 10px 5px;
  display: flex;
  padding: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}